html, body {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
    background-image:  url(http://i.imgur.com/zcjT9S5.jpg), linear-gradient(#66ffff, #00a3cc);
    background-size: 100% 550px, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    color: white;
    font-family: 'Lato', Helvetica, sans-serif;
    z-index: 0;
}

body {
	display: flex;
	flex-flow: column;
}

#header {
	display: flex;
	flex-flow: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#ad {
    z-index: 1;
}

h1 {
    color: black;
    font-size: ;
}

#navbar {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
    margin-top: -50px
}

#navbar ul {
    display: flex;
    flex-flow: row;
    list-style: none;
}
#main {
	flex-grow: 1;
}

.navilinks {
	margin: 10px;
}

#main-top-half {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	height: 45%;
}


#sidebar {
	display: flex;
	flex-flow: column;
}

#sidebar li {
	margin: 10px;
    list-style: none;
}

#sb {
    margin-left: -20px;
    margin-top: -10px;
}

#circlePic {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    justify-content: center;
}
#circlePic img {
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    border: 5px solid white;
}

#ad {
    height: 300px;
    width: 150px;
    margin-right: 45px;
}

#well {
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin-top: 20px;
}

#well-title {
    font-size: 25px;
}

#well-text {
    font-size: 15px;
}

li {
	/*display: inline;*/
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #cc0323 
 }
